# Bağımlılıklar
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testler
/coverage

# Next.js
/.next/
/out/
*.next/cache

# Derlenmiş ve Üretim Dosyaları
/build
/dist

# Geçici Dosyalar
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.swp
*.swo
*.tmp

# Çeşitli Sistem Dosyaları
.DS_Store
Thumbs.db

# Çevre Değişken Dosyaları
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel ve Netlify
.vercel
.netlify
/netlify.toml

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Tailwind CSS JIT Artıkları
.tailwindcss-jit

# IDE ve Editör Dosyaları
.idea/
/.vscode/
/.fleet/
/*.iml

# Geçici Depolama
*.bak
*.tmp
*.seed

# Storybook (Eğer Kullanılıyorsa)
/storybook-static
out-storybook

# ESLint ve Prettier
.eslintcache
*.eslintcache

# Turborepo (Eğer Kullanılıyorsa)
/turbo
