# Laravel ve PHP
/vendor/
/node_modules/
/storage/*.key
/storage/oauth-private.key
/storage/oauth-public.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/.env
/.env.*
.env.*.backup

# Derlenmiş Dosyalar
/public/storage
/public/hot
/public/build

# IDE ve Editör Dosyaları
/.idea/
/.vscode/
/.fleet/
/.zed/
/.phpactor.json
/.phpunit.result.cache
.phpunit.cache

# Çeşitli Sistem Dosyaları
Homestead.json
Homestead.yaml
npm-debug.log*
yarn-error.log*
auth.json

# JetBrains Fleet ve IntelliJ
/.fleet/
.idea/

# MacOS ve diğer gereksiz dosyalar
.DS_Store
Thumbs.db

# Geçici dosyalar
*.log
*.swp
*.swo
*.bak
*.tmp
*.lock
*.seed

# Diğer
*.phpunit.result.cache
